* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 30px;
  background-color: #d0d0d0;
}

h1, h2 {
  color: #333333;
  margin-bottom: 10px;
}

button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
}

.App {
  background-color: rgb(85, 159, 249);
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    flex-direction: column;
  }
}