.formContainer {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 200px;
    width: 30%;
    margin-right: 20px;
    height: 15%;
}

.form {
    padding: 10px;
}

.control {
    margin-bottom: 15px;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.control input {
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid #000;
}

.formInfo span {
    display: none;
    font-size: 11px;
    font-weight: bold;
}

.formInfo .formError {
    color: #ff0808;
}

.formInfo .formSuccess {
    color: #0b6f11;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    margin-right: 10px;
    background-color: #1fa513;
}
  
.actions button:hover,
.actions button:active {
    background-color: #14690c;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .formContainer {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}