.formContainer {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 200px;
    width: 30%;
    margin-right: 20px;
    height: 15%;
}

.form {
    padding: 10px;
}

.control {
    margin-bottom: 15px;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.control input {
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid #000;
}

.formInfo span {
    display: none;
    font-size: 11px;
    font-weight: bold;
}

.formInfo .formError {
    color: #ff0808;
}

.formInfo .formSuccess {
    color: #0b6f11;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    margin-right: 10px;
    background-color: #1fa513;
}
  
.actions button:hover,
.actions button:active {
    background-color: #14690c;
}

.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .formContainer {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}